My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "96ed3345-cb47-4402-8f53-504eba1f7797",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Give an idea about extremely [cute cat and another adorable animal.].",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a viral YouTube Shorts content creator AI.\n\nYour task is to generate ONE highly viral short-form video idea about cute cats for Veo3 video generation.\n\nOUTPUT STRICTLY IN THIS FORMAT:\n\n1. VIDEO_PROMPT:\nA detailed cinematic prompt describing a cute cat scene.\nInclude:\n- Type of cat (kitten, fluffy, orange, tiny, etc.)\n- Action or story (funny, emotional, or heartwarming)\n- Setting (home, street, rain, cozy bed, etc.)\n- Lighting (golden hour, soft light, dramatic, etc.)\n- Style (cinematic, ultra-realistic, Pixar-style, etc.)\n- Camera details (close-up, slow motion, POV, etc.)\n- Make it highly engaging and viral\n\n2. TITLE:\nA short, highly clickable YouTube Shorts title (max 60 characters)\nUse emotional triggers like:\n\"Wait till the end\", \"This broke me\", \"So cute 😭\"\n\n3. HOOK_TEXT (on-screen text in first 2 seconds):\nA powerful hook that forces people to keep watching\n\n4. CAPTION:\n1–2 line emotional or funny caption\n\n5. HASHTAGS:\nInclude 8–12 hashtags like:\n#cat #kitten #viral #shorts #cutecat #pets #fyp\n\n---\n\nRULES:\n- Focus on HIGH EMOTION (cute, funny, sad, wholesome)\n- Optimize for VIRALITY and retention\n- Keep scenes SHORT (6–12 seconds)\n- Avoid boring or generic ideas\n- Make each idea UNIQUE every time\n- require necessary and trendy hashtags\nGenerate fresh content every time."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -160
      ],
      "id": "f22d7223-a8c2-43cc-8b30-feeb4fa7c409",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        240,
        64
      ],
      "id": "b677f9b4-55b2-4ab1-9708-2442f4901948",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "lVKfuC4MvhRYFA6D",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"Caption\": \"\",\n    \"Idea\": \"\",\n    \"Environment\": \"\",\n    \"VeoPrompt\": \"\",\n    \"Title\": \"\",\n    \"Hook\": \"\",\n    \"Hashtags\": \"\",\n    \"Status\": \"for production\"\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        -336
      ],
      "id": "df6ab945-7f78-4749-b649-bcd24135edfb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1msK53PrAWLvsuXIwWR43HPQ4f9jSt1q8IM-J7slNreY",
          "mode": "list",
          "cachedResultName": "cat_videos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msK53PrAWLvsuXIwWR43HPQ4f9jSt1q8IM-J7slNreY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2030061371,
          "mode": "list",
          "cachedResultName": "cat_video_ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msK53PrAWLvsuXIwWR43HPQ4f9jSt1q8IM-J7slNreY/edit#gid=2030061371"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "==ROW()-1",
            "caption": "={{$json.output[0].Caption}}",
            "idea": "={{$json.output[0].Idea}}",
            "production": "={{$json.output[0].VeoPrompt}}",
            "environment_prompt": "={{$json.output[0].Environment}}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "idea",
              "displayName": "idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "production",
              "displayName": "production",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "environment_prompt",
              "displayName": "environment_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        -160
      ],
      "id": "a901a97f-4549-4dcc-b139-d9a2aef9a06b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9JUXJ9sXZK36EA7s",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me a Veo3 Prompt for this idea:\n {{ $json.idea }}\nThis is the environment:\n{{ $json.environment_prompt }}",
        "options": {
          "systemMessage": "SYSTEM PROMPT FOR GOOGLE VEO3 PROMPT AGENT\n\nYou are an AI agent that writes hyper-realistic, cinematic video prompts for Google VEO3. Each prompt should describe a short video clip featuring animals doing cute things. The final video should look surreal, yet realistic. THERE SHOULD BE NO HUMANS AT ALL. REMEMBER, THE FOCUS IS ON CREATING A VIDEO THAT IS SUPER ADORABLE.\n\nREQUIRED STRUCTURE (FILL IN THE BRACKETS BELOW):\n\n[Scene paragraph prompt here]\n\nMain character: [description of character]\nThey [describe a physical action: shifts position, glances around].\n\nEnvironment: [description of the setting]\n\nStyle: hyper-realistic, cinematic, highly detailed\n\nCamera: [camera movement, angle, framing]\n\nLighting: [lighting conditions]\n\nTime of Day: [day / night / dusk / etc.]\n\nLens: [describe lens]\n\nFilm Stock: [cinematic tone, e.g. Kodak Portra, cinematic film look]\n\nAudio: (include) [ambient sounds, e.g. lion growls, wind, distant traffic, birdsong]\n\nBackground: [detailed background elements]\n\n\nRULES FOR PROMPT GENERATION:\n\nSingle paragraph only, 750–1500 characters. No line breaks or headings.\n\nNo human character, ever.\n\nDo not include lines of spoken dialogue.\n\nCharacter must do something physical, even if subtle (e.g. glance, shift, small movement, camera interaction).\n\nDo not use selfie-style framing.\n\nScene must feel real and cinematic — like a short clip someone might record on a stylized camera.\n\nAlways include the five key technical elements: Time of Day, Lens, Film Stock, Audio, and Background.\n\n\nIMPORTANT RULES:\n\nDon't break the paragraph or use formatting.\n\nDon't write vague or abstract scenes — always keep them grounded in physical detail.\n\n\nDO NOT DO THIS:\n\nDon't name the character.\n\nDon't include more than one character.\n\nDon't describe subtitles or on-screen text.\n\nDon't break the paragraph or use formatting.\n\nDon't write vague or abstract scenes — always keep them grounded in physical detail."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        800,
        -160
      ],
      "id": "0442e111-8363-4538-9f62-98c090225e30",
      "name": "Prompt AI Agent1"
    },
    {
      "parameters": {
        "amount": 3.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1376,
        -160
      ],
      "id": "4f5121dd-a5c6-43e5-830f-695837e37557",
      "name": "Wait",
      "webhookId": "679bd55d-660d-4f13-8204-740afafca0a8"
    },
    {
      "parameters": {
        "url": "={{$json.videos[0].video_files[0].link}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1824,
        -160
      ],
      "id": "d06b67b7-89ba-4b48-88aa-eabf6da13f2e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('AI Agent').item.json.output[0].Idea }}",
        "regionCode": "IN",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2048,
        -160
      ],
      "id": "373bff78-d0ef-4830-8316-7abe2db2ff5c",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "EMGlmPCjMp4ozxdE",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/videos/search?query={{ $('AI Agent').item.json.output[0].Idea }}&page={{ Math.floor(Math.random()*20)+1 }}&per_page=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        -160
      ],
      "id": "8dfa3d7a-e03b-4300-b0f8-66c406d88779",
      "name": "Get Video"
    },
    {
      "parameters": {
        "url": "https://api.pexels.com/videos/search?query=cat&per_page=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"prompt\": \"{{ $json.output }}\" }",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        -160
      ],
      "id": "94b1b9da-7384-49d8-847f-5b3235284539",
      "name": "Create Video"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Prompt AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Prompt AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt AI Agent1": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "96c34bd9-b2b0-4980-8d8b-16e7018d8029",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "915c991228fb24bc6156f1862262559f48d403681e6f1771f7c62b6272d7b488"
  },
  "id": "mwdb7ZAEvvoLpziV",
  "tags": []
}